.bupt {
  --logo-ratio: 1;
  --atlas-width: 510.526316%;
  --atlas-left: -2.631579%;
  --atlas-top: -2.631579%;
}
.qmul {
  --logo-ratio: 5.53398058;
  --atlas-width: 204.210526%;
  --atlas-left: -103.157895%;
  --atlas-top: -5.825243%;
}
.cuc {
  --logo-ratio: 1;
  --atlas-width: 765.789474%;
  --atlas-left: -2.631579%;
  --atlas-top: -2.631579%;
}
.coventry {
  --logo-ratio: 3.5625;
  --atlas-width: 306.315789%;
  --atlas-left: -103.157895%;
  --atlas-top: -3.75%;
}
.abertay {
  --logo-ratio: 3.1147541;
  --atlas-width: 306.315789%;
  --atlas-left: -205.263158%;
  --atlas-top: -3.278689%;
}
.uestc {
  --logo-ratio: 1.00440529;
  --atlas-width: 1021.052632%;
  --atlas-left: -2.631579%;
  --atlas-top: -2.643172%;
}
.glasgow {
  --logo-ratio: 3.16666667;
  --atlas-width: 408.421053%;
  --atlas-left: -103.157895%;
  --atlas-top: -3.333333%;
}
.bsu {
  --logo-ratio: 1.06046512;
  --atlas-width: 1021.052632%;
  --atlas-left: -513.157895%;
  --atlas-top: -2.790698%;
}
.alberta {
  --logo-ratio: 5.9375;
  --atlas-width: 408.421053%;
  --atlas-left: -307.368421%;
  --atlas-top: -6.25%;
}
.muc {
  --logo-ratio: 1;
  --atlas-width: 1021.052632%;
  --atlas-left: -2.631579%;
  --atlas-top: -113.157895%;
}
.mdx {
  --logo-ratio: 2.59895833;
  --atlas-width: 466.533066%;
  --atlas-left: -117.835671%;
  --atlas-top: -134.375%;
}
.cityu {
  --logo-ratio: 3.16666667;
  --atlas-width: 408.421053%;
  --atlas-left: -205.263158%;
  --atlas-top: -143.333333%;
}
.blcu {
  --logo-ratio: 1;
  --atlas-width: 1021.052632%;
  --atlas-left: -768.421053%;
  --atlas-top: -113.157895%;
}
.clermont {
  --logo-ratio: 2.328125;
  --atlas-width: 520.805369%;
  --atlas-left: -1.342282%;
  --atlas-top: -265.625%;
}
.nsu {
  --logo-ratio: 1.8125;
  --atlas-width: 668.965517%;
  --atlas-left: -168.965517%;
  --atlas-top: -265.625%;
}
.tju {
  --logo-ratio: 1;
  --atlas-width: 1021.052632%;
  --atlas-left: -2.631579%;
  --atlas-top: -2.631579%;
}
.reading {
  --logo-ratio: 3.06451613;
  --atlas-width: 408.421053%;
  --atlas-left: -103.157895%;
  --atlas-top: -3.225806%;
}
.cupl {
  --logo-ratio: 1;
  --atlas-width: 1021.052632%;
  --atlas-left: -513.157895%;
  --atlas-top: -2.631579%;
}
.ottawa {
  --logo-ratio: 3.90410959;
  --atlas-width: 408.421053%;
  --atlas-left: -307.368421%;
  --atlas-top: -4.109589%;
}
.cugb {
  --logo-ratio: 0.97807018;
  --atlas-width: 1043.946188%;
  --atlas-left: -2.690583%;
  --atlas-top: -113.157895%;
}
.aberdeen {
  --logo-ratio: 3.65384615;
  --atlas-width: 408.421053%;
  --atlas-left: -103.157895%;
  --atlas-top: -165.384615%;
}
.bcu {
  --logo-ratio: 4.9137931;
  --atlas-width: 408.421053%;
  --atlas-left: -205.263158%;
  --atlas-top: -222.413793%;
}
.nefu {
  --logo-ratio: 1;
  --atlas-width: 1021.052632%;
  --atlas-left: -768.421053%;
  --atlas-top: -113.157895%;
}
.uts {
  --logo-ratio: 1;
  --atlas-width: 1212.5%;
  --atlas-left: -3.125%;
  --atlas-top: -265.625%;
}
.auckland {
  --logo-ratio: 2.54166667;
  --atlas-width: 477.04918%;
  --atlas-left: -120.491803%;
  --atlas-top: -265.625%;
}
.xjtu {
  --logo-ratio: 1;
  --atlas-width: 1021.052632%;
  --atlas-left: -513.157895%;
  --atlas-top: -223.684211%;
}
.ubc {
  --logo-ratio: 0.64583333;
  --atlas-width: 1877.419355%;
  --atlas-left: -1412.903226%;
  --atlas-top: -265.625%;
}
.lancaster {
  --logo-ratio: 3.1147541;
  --atlas-width: 408.421053%;
  --atlas-left: -1.052632%;
  --atlas-top: -416.393443%;
}
